[report]
omit = 
exclude_lines =
    @(abc\.)?abstractmethod
    class .*\bProtocol\):
    def __repr__
    def __str__
    if 0:
    if __name__ == .__main__.:
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    raise \w+\._must_be_implemented_in_subclass
    raise \w+\._should_not_get_here
    raise MustBeImplementedInSubclass
    raise ShouldNotGetHere

