include .coveragerc
include .flake8rc
include .gitignore
include .isort.cfg
include LICENSE
include Makefile
include Makefile.conf
include Manifest.in
include README.md
include docs/.gitignore
include docs/Makefile
include docs/conf.py
include docs/fingerprint.rst
include docs/index.rst
include docs/internal.rst
include docs/model.rst
include docs/object.rst
include docs/pattern.rst
include docs/rank.rst
include docs/reference_record.rst
include docs/snak.rst
include docs/statement.rst
include docs/store.rst
include docs/value.rst
include kif/__init__.py
include kif/cache.py
include kif/codec/__init__.py
include kif/codec/markdown.py
include kif/codec/sparql.py
include kif/error.py
include kif/model/__init__.py
include kif/model/annotation_record.py
include kif/model/annotation_record_set.py
include kif/model/descriptor.py
include kif/model/fingerprint.py
include kif/model/kif_object.py
include kif/model/kif_object.pyi
include kif/model/kif_object_set.py
include kif/model/object.py
include kif/model/pattern.py
include kif/model/rank.py
include kif/model/reference_record.py
include kif/model/reference_record_set.py
include kif/model/snak.py
include kif/model/snak_set.py
include kif/model/statement.py
include kif/model/text_set.py
include kif/model/value.py
include kif/namespace/__init__.py
include kif/namespace/prov.py
include kif/namespace/wikibase.py
include kif/namespace/wikidata.py
include kif/py.typed
include kif/store/__init__.py
include kif/store/abc.py
include kif/store/empty.py
include kif/store/mapper.py
include kif/store/mapping/__init__.py
include kif/store/mapping/pubchem.py
include kif/store/mixer.py
include kif/store/rdf.py
include kif/store/sparql.py
include kif/store/sparql_builder.py
include kif/store/sparql_mapping.py
include kif/store/sparql_results.py
include kif/vocabulary/__init__.py
include kif/vocabulary/registry.py
include kif/vocabulary/wikidata_properties.json
include pytest.ini
include setup.py
include tests/__init__.py
include tests/data/__init__.py
include tests/data/adam.ttl
include tests/data/benzene.ttl
include tests/data/brazil.ttl
include tests/test_cache.py
include tests/test_codec_json.py
include tests/test_codec_markdown.py
include tests/test_codec_sparql.py
include tests/test_model_annotation_record.py
include tests/test_model_annotation_record_set.py
include tests/test_model_deprecated_rank.py
include tests/test_model_descriptor.py
include tests/test_model_entity_fingerprint.py
include tests/test_model_filter_pattern.py
include tests/test_model_fingerprint.py
include tests/test_model_iri.py
include tests/test_model_item.py
include tests/test_model_kif_object.py
include tests/test_model_kif_object_set.py
include tests/test_model_no_value_snak.py
include tests/test_model_normal_rank.py
include tests/test_model_preferred_rank.py
include tests/test_model_property.py
include tests/test_model_property_fingerprint.py
include tests/test_model_quantity.py
include tests/test_model_reference_record.py
include tests/test_model_reference_record_set.py
include tests/test_model_snak_set.py
include tests/test_model_some_value_snak.py
include tests/test_model_statement.py
include tests/test_model_string.py
include tests/test_model_text.py
include tests/test_model_text_set.py
include tests/test_model_time.py
include tests/test_model_value_snak.py
include tests/test_namespace_wikidata.py
include tests/test_store_empty.py
include tests/test_store_mapper_pubchem.py
include tests/test_store_mixer.py
include tests/test_store_rdf.py
include tests/test_store_sparql.py
include tests/test_store_sparql_builder.py
include tests/test_store_sparql_filter.py
include tests/test_store_sparql_get_annotations.py
include tests/tests.py
include tox.ini
