include .coveragerc
include .flake8rc
include .gitattributes
include .gitignore
include .isort.cfg
include LICENSE
include Makefile
include Makefile.conf
include Manifest.in
include README.md
include docs/.gitignore
include docs/Makefile
include docs/conf.py
include docs/datatype.rst
include docs/descriptor.rst
include docs/fingerprint.rst
include docs/index.rst
include docs/internal.rst
include docs/model.rst
include docs/object.rst
include docs/pattern.rst
include docs/rank.rst
include docs/reference_record.rst
include docs/sets.rst
include docs/snak.rst
include docs/statement.rst
include docs/store.rst
include docs/value.rst
include examples/.gitignore
include examples/recipes.ipynb
include kif_lib/__init__.py
include kif_lib/cache.py
include kif_lib/codec/__init__.py
include kif_lib/codec/markdown.py
include kif_lib/codec/sparql.py
include kif_lib/error.py
include kif_lib/model/__init__.py
include kif_lib/model/annotation_record.py
include kif_lib/model/annotation_record_set.py
include kif_lib/model/descriptor.py
include kif_lib/model/fingerprint.py
include kif_lib/model/kif_object.py
include kif_lib/model/kif_object.pyi
include kif_lib/model/kif_object_set.py
include kif_lib/model/object.py
include kif_lib/model/pattern.py
include kif_lib/model/rank.py
include kif_lib/model/reference_record.py
include kif_lib/model/reference_record_set.py
include kif_lib/model/snak.py
include kif_lib/model/snak_set.py
include kif_lib/model/statement.py
include kif_lib/model/text_set.py
include kif_lib/model/value.py
include kif_lib/namespace/__init__.py
include kif_lib/namespace/prov.py
include kif_lib/namespace/wikibase.py
include kif_lib/namespace/wikidata.py
include kif_lib/py.typed
include kif_lib/store/__init__.py
include kif_lib/store/abc.py
include kif_lib/store/empty.py
include kif_lib/store/mapper.py
include kif_lib/store/mapping/__init__.py
include kif_lib/store/mapping/pubchem.py
include kif_lib/store/mixer.py
include kif_lib/store/rdf.py
include kif_lib/store/sparql.py
include kif_lib/store/sparql_builder.py
include kif_lib/store/sparql_mapping.py
include kif_lib/store/sparql_results.py
include kif_lib/vocabulary/__init__.py
include kif_lib/vocabulary/registry.py
include kif_lib/vocabulary/wikidata_properties.json
include pyproject.toml
include pytest.ini
include setup.py
include tests/__init__.py
include tests/data/__init__.py
include tests/data/adam.ttl
include tests/data/benzene.ttl
include tests/data/brazil.ttl
include tests/test_cache.py
include tests/test_codec_json.py
include tests/test_codec_markdown.py
include tests/test_codec_sparql.py
include tests/test_model_annotation_record.py
include tests/test_model_annotation_record_set.py
include tests/test_model_deprecated_rank.py
include tests/test_model_entity_fingerprint.py
include tests/test_model_external_id.py
include tests/test_model_external_id_datatype.py
include tests/test_model_filter_pattern.py
include tests/test_model_fingerprint.py
include tests/test_model_iri.py
include tests/test_model_iri_datatype.py
include tests/test_model_item.py
include tests/test_model_item_datatype.py
include tests/test_model_item_descriptor.py
include tests/test_model_kif_object.py
include tests/test_model_kif_object_set.py
include tests/test_model_lexeme.py
include tests/test_model_lexeme_datatype.py
include tests/test_model_lexeme_descriptor.py
include tests/test_model_no_value_snak.py
include tests/test_model_normal_rank.py
include tests/test_model_plain_descriptor.py
include tests/test_model_preferred_rank.py
include tests/test_model_property.py
include tests/test_model_property_datatype.py
include tests/test_model_property_descriptor.py
include tests/test_model_property_fingerprint.py
include tests/test_model_quantity.py
include tests/test_model_quantity_datatype.py
include tests/test_model_reference_record.py
include tests/test_model_reference_record_set.py
include tests/test_model_snak.py
include tests/test_model_snak_set.py
include tests/test_model_some_value_snak.py
include tests/test_model_statement.py
include tests/test_model_string.py
include tests/test_model_string_datatype.py
include tests/test_model_text.py
include tests/test_model_text_datatype.py
include tests/test_model_text_set.py
include tests/test_model_time.py
include tests/test_model_time_datatype.py
include tests/test_model_value_snak.py
include tests/test_namespace_wikidata.py
include tests/test_object.py
include tests/test_store_empty.py
include tests/test_store_mapper_pubchem.py
include tests/test_store_mixer.py
include tests/test_store_rdf.py
include tests/test_store_sparql.py
include tests/test_store_sparql_builder.py
include tests/test_store_sparql_filter.py
include tests/test_store_sparql_get_annotations.py
include tests/tests.py
include tox.ini
