include .coveragerc
include .flake8rc
include .gitattributes
include .gitignore
include .isort.cfg
include LICENSE
include Makefile
include Makefile.conf
include Manifest.in
include README.md
include docs/.gitignore
include docs/Makefile
include docs/_templates/autosummary/base.rst
include docs/_templates/autosummary/class.rst
include docs/_templates/autosummary/class_with_inherited_members.rst
include docs/_templates/autosummary/module.rst
include docs/all.rst
include docs/annotations.rst
include docs/conf.py
include docs/datatype.rst
include docs/descriptor.rst
include docs/errors.rst
include docs/fingerprint.rst
include docs/index.rst
include docs/internal.rst
include docs/kif_object.rst
include docs/model.rst
include docs/pattern.rst
include docs/sets.rst
include docs/snak.rst
include docs/statement.rst
include docs/store.rst
include docs/store_abc.rst
include docs/store_plugins.rst
include docs/value.rst
include examples/.gitignore
include examples/pubchem.ipynb
include examples/recipes.ipynb
include kif_lib/__init__.py
include kif_lib/cache.py
include kif_lib/codec/__init__.py
include kif_lib/codec/markdown.py
include kif_lib/codec/sparql.py
include kif_lib/error.py
include kif_lib/itertools.py
include kif_lib/model/__init__.py
include kif_lib/model/annotation_record.py
include kif_lib/model/annotation_record_set.py
include kif_lib/model/descriptor.py
include kif_lib/model/fingerprint.py
include kif_lib/model/kif_object.py
include kif_lib/model/kif_object.pyi
include kif_lib/model/kif_object_set.py
include kif_lib/model/object.py
include kif_lib/model/pattern.py
include kif_lib/model/rank.py
include kif_lib/model/reference_record.py
include kif_lib/model/reference_record_set.py
include kif_lib/model/snak.py
include kif_lib/model/snak_set.py
include kif_lib/model/statement.py
include kif_lib/model/value.py
include kif_lib/model/value_set.py
include kif_lib/namespace/__init__.py
include kif_lib/namespace/prov.py
include kif_lib/namespace/wikibase.py
include kif_lib/namespace/wikidata.py
include kif_lib/py.typed
include kif_lib/store/__init__.py
include kif_lib/store/abc.py
include kif_lib/store/empty.py
include kif_lib/store/mapper.py
include kif_lib/store/mapping/__init__.py
include kif_lib/store/mapping/pubchem.py
include kif_lib/store/mixer.py
include kif_lib/store/rdf.py
include kif_lib/store/sparql.py
include kif_lib/store/sparql_builder.py
include kif_lib/store/sparql_mapping.py
include kif_lib/store/sparql_results.py
include kif_lib/typing.py
include kif_lib/vocabulary/__init__.py
include kif_lib/vocabulary/registry.py
include kif_lib/vocabulary/wd.py
include kif_lib/vocabulary/wikidata_properties.json
include pyproject.toml
include pytest.ini
include setup.py
include tests/__init__.py
include tests/data/__init__.py
include tests/data/adam.ttl
include tests/data/andar.ttl
include tests/data/benzene.ttl
include tests/data/brazil.ttl
include tests/data/instance_of.ttl
include tests/data/paint.ttl
include tests/test_cache.py
include tests/test_codec_json.py
include tests/test_codec_markdown.py
include tests/test_codec_sparql.py
include tests/test_model_annotation_record.py
include tests/test_model_annotation_record_set.py
include tests/test_model_descriptor_descriptor.py
include tests/test_model_descriptor_item_descriptor.py
include tests/test_model_descriptor_lexeme_descriptor.py
include tests/test_model_descriptor_property_descriptor.py
include tests/test_model_fingerprint_entity_fingerprint.py
include tests/test_model_fingerprint_fingerprint.py
include tests/test_model_fingerprint_property_fingerprint.py
include tests/test_model_kif_object.py
include tests/test_model_kif_object_set.py
include tests/test_model_object.py
include tests/test_model_pattern_filter_pattern.py
include tests/test_model_rank_deprecated_rank.py
include tests/test_model_rank_normal_rank.py
include tests/test_model_rank_preferred_rank.py
include tests/test_model_reference_record.py
include tests/test_model_reference_record_set.py
include tests/test_model_snak_no_value_snak.py
include tests/test_model_snak_set.py
include tests/test_model_snak_snak.py
include tests/test_model_snak_some_value_snak.py
include tests/test_model_snak_value_snak.py
include tests/test_model_statement.py
include tests/test_model_value_datatype.py
include tests/test_model_value_external_id.py
include tests/test_model_value_external_id_datatype.py
include tests/test_model_value_iri.py
include tests/test_model_value_iri_datatype.py
include tests/test_model_value_item.py
include tests/test_model_value_item_datatype.py
include tests/test_model_value_lexeme.py
include tests/test_model_value_lexeme_datatype.py
include tests/test_model_value_property.py
include tests/test_model_value_property_datatype.py
include tests/test_model_value_quantity.py
include tests/test_model_value_quantity_datatype.py
include tests/test_model_value_set_text_set.py
include tests/test_model_value_set_value_set.py
include tests/test_model_value_string.py
include tests/test_model_value_string_datatype.py
include tests/test_model_value_text.py
include tests/test_model_value_text_datatype.py
include tests/test_model_value_time.py
include tests/test_model_value_time_datatype.py
include tests/test_model_value_value.py
include tests/test_namespace_wikidata.py
include tests/test_store_abc_cache.py
include tests/test_store_abc_descriptors.py
include tests/test_store_abc_error.py
include tests/test_store_abc_extra_references.py
include tests/test_store_abc_flags.py
include tests/test_store_abc_page_size.py
include tests/test_store_abc_timeout.py
include tests/test_store_empty.py
include tests/test_store_mapper_init.py
include tests/test_store_mapper_mapping_pub_chem.py
include tests/test_store_mapper_mapping_pub_chem_descriptors.py
include tests/test_store_mapper_mapping_pub_chem_statements.py
include tests/test_store_mixer.py
include tests/test_store_mixer_descriptors.py
include tests/test_store_mixer_init.py
include tests/test_store_rdf.py
include tests/test_store_rdf_descriptors.py
include tests/test_store_rdf_init.py
include tests/test_store_sparql_builder.py
include tests/test_store_sparql_mapping.py
include tests/test_store_sparql_results.py
include tests/test_store_sparql_sparql_store.py
include tests/test_store_sparql_sparql_store_annotations.py
include tests/test_store_sparql_sparql_store_descriptors.py
include tests/test_store_sparql_sparql_store_init.py
include tests/test_store_sparql_sparql_store_statements.py
include tests/tests.py
include tox.ini
